.search {
  padding-inline: 1.5rem;
  overflow: hidden;
  &__wrapper {
    position: relative;
    max-width: 30rem;
    margin-inline: auto;
    border-radius: 2rem;
  }
  &__results {
    max-width: 30rem;
    margin-inline: auto;
    padding: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    background: white;
    border-radius: 0 0 2rem 2rem;
  }
}
