.search {
  max-width: 40rem;
  margin-inline: auto;
  position: relative;
  &__box {
    position: absolute;
    z-index: 100;
    background: white;
    width: 100%;
    margin-top: -4px;
    // padding: 1rem;
    transition: all 2s;
    top: 100%;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
}
